<div class="home-post">
  <div class="post-left" style="background: url('../img/blog/<%= img %>'); background-size: cover;">
    <div class="post-title">
      <div class="tag tag-<%= tag %>"><%= tag %></div>
      <h2 class="title"><%- title %></h2>
      <div class="post-date"><%= date %></div>
    </div>
  </div>
  <div class="post-right">
    <p class="post-blurb"><%= blurb %></p>
    <a href="<%= slug %>">
      <div class="read-more">
        Read More
      </div>
    </a>
  </div>
</div>
