<div class="post-header" style="background: url('../img/blog/<%= img %>');">
  <div class="post-title">
    <div class="tag tag-<%= tag %>"><%= tag %></div>
    <h1 class="title"><%- title %></h1>
    <div class="post-date"><%= date %></div>
  </div>
</div>
