

      <div class="project-nav">
        <ol>
        	<li><a href="#<%= item1id %>"><%= item1title %></a></li>
        	<li><a href="#<%= item2id %>"><%= item2title %></a></li>
        	<li><a href="#<%= item3id %>"><%= item3title %></a></li>
        	<li><a href="#<%= item4id %>"><%= item4title %></a></li>
        	<li><a href="#<%= item5id %>"><%= item5title %></a></li>
        	<li><a href="#<%= item6id %>"><%= item6title %></a></li>
        	<li><a href="#<%= item7id %>"><%= item7title %></a></li>
        	<li><a href="#<%= item8id %>"><%= item8title %></a></li>
        </ol>
      </div>